@page
@model VenuesLiveTechnicalTest.Web.Pages.InvoiceCreatedModel
@{
}
<div class="alert alert-success">
    Your invoice line item was created successfully!
</div>
<div class="btn-group mt-2">
    <a asp-page="Invoices" class="btn btn-primary">View Invoices</a>
    <a asp-page="CreateInvoice" class="btn btn-primary mx-2">Create Invoice item</a>
</div>
